#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1 .mbr-navbar__section {
  background: #2c2c2c;
}
#header2-33 H1 {
  color: #ffffff;
}
#header2-33 P {
  color: #ffffff;
}
#slider-5 H1 {
  color: #ffffff;
}
#slider-5 P {
  color: #ffffff;
}
#content5-10 .caption h3 {
  color: #fff;
}
#content5-10 P {
  color: #fff;
}
#msg-box1-18 h2 {
  color: #fff;
}
#msg-box1-18 p {
  color: #fff;
}
#msg-box2-19 h2 {
  color: #252525;
}
#msg-box2-19 p {
  color: #252525;
}
#msg-box3-34 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-34 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-20 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-20 .mbr-header .mbr-header__subtext {
  text-align: center;
}
